body
{
	background-color:#2C3136;
	background-color:#FEFEFE;
	margin-left: 3%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	font-family: Consolas, Andale Mono, monospace;
	font-size: medium;
}

#output
{
	
	top: 0px;
	height: 800px;
	overflow: auto;
}

input
{
	font-family: Consolas, Andale Mono, monospace;
	font-size: medium;
	width: 540px;
	height: 58px;
	margin: 0px;
	border: 1px solid #BDBDBD;
	background-color: #E6F8F0;
	color: #333;
	max-height: 60px;
	padding: 2px;
	padding-left: 0.5%;
	margin-left: 2.5%;
	width: 95%;
}

input:focus 
{ 
    /*outline:none; */
}

#input-area
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	background-color: #E0E0E0;
	background-color: #222222;
	padding: 4px 0 4px 0;
	width: 100%;
	height: 70px;
	z-index: 5;
}
